/* index.css */

/* Reset global de estilos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  list-style: none;
  border: none;
}

/* Se establece el estilo básico para el body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #d6d6d6;
  color: inherit;
  padding: 0;
}

/* Puedes agregar más estilos base si es necesario */
